body {
    font-family: 'Montserrat', sans-serif;
}


.section {
    height: 100%;
    clear: both;
}


header {
    position: fixed;
    width: 100%;
}

.logo {
    width: 227px;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: #000;
}

.navbar-brand {
    padding: 0px;
    margin: 10px 0px;
}

.img {
    width: 180px;
    height: auto;
}

.collapse {
    padding-top: 36px;
    flex-grow: 0;
}

.nav-link {
    color: rgb(250, 250, 250) !important;
    font-size: 12px;
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.form-control {
    font-weight: 600px;
    text-align: right;
    width: 228px;
    display: block;
    padding: .375rem .75rem;
    color: #ffffff;
    background-color: #101928;
    border-radius: 39px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 30px;
}

.search {
    border-radius: 3px black;
}

.background {
    background-image: url(images/background.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
}

.section a {
    font-size: 12px;
    font-weight: 700;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    padding: 6px 31px;
    text-decoration: none;
    border-radius: 32px;
}

.img {
    width: 100%;
}

.man {
    width: 88%;
    position: relative;
    margin-top: -70px;
}

.title {
    padding-top: 190px;
    position: relative;
}

h2 {
    color: #FFF;
    font-size: 45px;
    padding-left: 30px;
}

p {
    color: #FFF;
    padding-left: 30px;
    padding-bottom: 20px;
}

.section .touch {
    font-size: 18px;
    font-weight: 700;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    padding: 6px 31px;
    text-decoration: none;
    border-radius: 32px;
    background-color: #00c0ad;
}


.section .touch:hover {
    font-size: 18px;
    font-weight: 700;
    margin-left: 30px;
    color: #00c0ad;
    padding: 6px 31px;
    text-decoration: none;
    border-radius: 32px;
    background-color: #000;
}

.marketing {
    position: relative;
}

.t2 {
    right: -20px;
    top: -10px;
    position: absolute;
    color: #FFF;
    line-height: 36px;
    font-size: 28px;
    float: right;
    text-align: right;
    padding: 0px;
    margin: 0px;
    font-weight: 500;
}

@media (min-width: 320px) and (max-width: 768px) {

    .logo {
        width: 150px;
    }

    header {
        background: #111828;
        z-index: 1;
    }

    h2 {
        padding-top: 20px;
        font-size: 32px;
        text-align: center;
        padding-left: 0px;
    }

    .title {
        padding-top: 102px;
        position: relative;
    }

    .background {
        background-image: url(images/background.jpg);
        height: 100%;
        background-size: cover;
    }

    .navbar-toggler {
        padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
        margin-left: 52px;
        font-size: var(--bs-navbar-toggler-font-size);
        line-height: 1;
        background-color: #f9fafb;
    }

    p {
        font-size: 18px;
        padding-left: 0px;
        text-align: center;
    }

    .t2 {
        position: unset;
        color: #FFF;
        line-height: 36px;
        font-size: 32px;
        padding: 0px;
        margin: 0px;
        font-weight: 500;
        text-align: center;
        float: none;
    }

    .section .touch {
        font-size: 18px;
        margin-left: 74px;
        background-color: #00c0ad;
    }

    .marketing {
        margin-top: 24px;
    }

    .man {
        margin-top: 22px;
        width: 96%;
        position: absolute;
    }
    .section ul li a{
        float: right;
        font-size: 17px;
        font-weight: 700;
        padding: 6px 31px;
    }
    .form-inline{float: right;}
    .collapse {
        padding-top: 0px;
        flex-grow: 0;
    }
    .navbar-brand{margin-right: 0px !important;}
}