.section {
    clear: both;
    padding-top: 100px;
    padding-bottom: 100px;
}

.body {
    font-family: 'Roboto', sans-serif;
}

header.fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    /* border-bottom: 1px solid #ccc; */
    z-index: 999;
    box-shadow: 0px 0px 10px #eee;
}

header.fixed .navbar {
    --bs-navbar-padding-y: 1.5rem;
    --bs-navbar-nav-link-padding-x: 2.2rem;
}

.navbar-nav .nav-link {
    font-size: 13px;
    font-weight: 500;
    color: #000;
}
.navbar-nav .nav-link:hover{
    /* color: #a3cb38 */
    text-decoration: underline;
}
img {
    width: 100%;
}

.navbar {
    --bs-navbar-padding-y: 3.5rem;
    --bs-navbar-nav-link-padding-x: 2.2rem;

}

.banner a {
    text-align: center;
    background: #a3cb38;
    text-decoration: none;
    color: #fff;
    padding: 11px 0px;
    display: inline-block;
    margin-top: 30px;
    font-size: 19px;
    display: block;
    width: 138px;
}

.layer1 {
    height: 90vh;
}

.layer1 .container {
    position: relative;
}

.layer1 .container::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 550px;
    top: -200px;
    left: 53%;
    background-color: #a3cb38;
    z-index: -1;
}

.layer1 .rachel h1 {
    padding-top: 50px;
    font-weight: 600;
    letter-spacing: 4px;
}

.layer1 span {
    padding-top: 10px;
}

.layer1 .profile {
    width: 100%;
}

.layer2 .background1 {
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    height: 47vh;
    width: 23vw;
    position: absolute;
}

.layer2 .background {
    width: 0vw;
}

.layer2 .HUSTLE {
    z-index: 1;
}

.layer2 h1 {
    font-size: 74px;
    font-weight: bold;
    line-height: 74px;
}

.text-green {
    color: #a3cb38 !important;
}

.layer3 .mywork {
    text-align: center;
    padding-bottom: 50px;
}

.layer3 h2 {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
}

.layer3 .img4 {
    padding-right: 42px;
    padding-top: 50px;
}

.layer3 .img5 {
    padding-right: 32px;
    padding-top: 50px;
}

.layer3 .col-sm-4 div {
    position: relative;
    width: 220px;
}

.layer3 .col-sm-4 div::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 35px;
    background: #a3cb38;
    left: 5px;
    top: -10px;
}

.layer3 .col-sm-4 div img {
    margin-bottom: 5px;
    width: 150px;
}

.layer4 {
    position: relative;
}

.layer4 .background1 {
    background-repeat: no-repeat;
    height: 400px;
    background: #a3cb38;
    width: 400px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

.layer4 p {
    font-size: 14px;
    height: 176px;
}

.layer4 .boder {
    border: 2px solid #a3cb38;
    width: 26px;
}

.layer4 h4 {
    font-size: 80px;
    color: #fff;
}

.layer5 p {
    padding-top: 30px;
}

.layer5 .HUSTLE {
    z-index: 1;
}

.layer5 h1 {
    font-size: 80px;
    font-weight: bold;
    color: #a3cb38;
    line-height: 86px;
    padding-top: 80px;
}

.layer6 {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.layer6 .background {
    position: absolute;
    background-color: #a3cb38;
    width: 490px;
    height: 240px;
    bottom: 0px;
    left: 0px;
}

.layer6 .contact {
    z-index: 1;
}

.layer6 h2 {
    padding-top: 0px;
    font-size: 50px;
    color: #fff;
}

.layer6 a {
    color: #fff;
}

.layer6 img {
    padding-top: 5px;
    z-index: 1;
    width: 15px;
    margin-right: 5px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .layer1 {
        height: 100%;
    }

    .body {
        width: 100%;
    }

    header {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        background-color: #fff;
        z-index: 999;
        box-shadow: 0px 0px 10px #eee;
    }


    header .navbar,
    header.fixed .navbar {
        --bs-navbar-padding-y: 1rem;
        --bs-navbar-nav-link-padding-x: 2.2rem;
    }
    .section {
        clear: both;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .commontop {
        padding-top: 75px !important;
    }

    .layer1 .container::before {
        display: none;
    }
    .layer2 .background1 {
        height: 190px;
        width: 190px;
    }
    .layer3 .col-sm-4 div {
        width: 100%;
    }
    .layer3 .col-sm-4 div img {
        width: 100%;
    }
    .layer3 .col-sm-4 div br{display: none;}
    
    .layer4 p {
        height: 100%;
        margin-bottom: 30px;
    }
    .layer4 .background1 {
        height: 400px;
        width: 400px;
        position: relative;
        top: 50px;
    }
    .layer6 .background {
        width: 100%;
    }
}